html, body {
    height: 100%; /* Asegura que html y body ocupen el 100% de la altura */
    margin: 0; /* Elimina márgenes por defecto */
}

.profile-page-container {
    display: flex; /* Flexbox para disposición horizontal */
    height: 100vh; /* Altura completa de la ventana */
}

.profile-control-panel {
    flex: 0 0 18%; /* Control Panel ocupa el 15% del ancho */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Desplazamiento vertical si es necesario */
}

.profile-control-panel h1 {
    font-size: 1.8rem;
    color: #ffc107;
    margin-bottom: 20px;
}

.profile-control-panel ul {
    list-style-type: none;
    padding: 0;
}

.profile-control-panel li {
    margin-bottom: 20px;
}

.profile-control-panel a {
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.profile-control-panel a:hover {
    color: #007BFF;
}

.profile-control-panel a svg {
    margin-right: 12px;
}

.profile-section {
    position: relative; /* Necesario para el pseudo-elemento */
    flex: 0 0 45%; /* Usuario ocupa el 50% del ancho */
    padding: 30px;
    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1532201633958-497feb474315?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center;
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
}

.profile-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
    border-radius: 15px; /* Asegúrate de que coincida con el border-radius de .profile-section */
    z-index: 1; /* Para que esté detrás del contenido */
}

.profile-section > * {
    position: relative; /* Para que el contenido esté encima del pseudo-elemento */
    z-index: 2; /* Asegúrate de que el contenido esté por encima */
}
.profile-section h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffc107;
    margin-bottom: 25px;
}

.profile-card {
    background-color: #161515;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 60px;
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: center;
    flex-direction: column;
}

.profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-info {
    width: 100%;
}

.profile-info h2 {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 1.2rem;
    color: #ffffff;
    margin: 5px 0;
}

.profile-info p strong {
    color: #ffc107;
}

.profile-loading .loading-circle {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007BFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.profile-error {
    color: #e74c3c;
    font-size: 1.3rem;
}

.profile-no-data {
    color: #888;
    font-size: 1.3rem;
}

.profile-map-section {
    flex: 0 0 37%; /* Mapa ocupa el 35% del ancho */
    height: 100%; /* Ajustar la altura para ocupar el espacio restante */
}

.map-container {
    width: 100%;
    height: 100%; /* Ocupa el 100% del alto del contenedor */
    border-style:solid;
}

.logout-button {
    background-color: #ffc107; /* Cambia el color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    transition: background-color 0.3s; /* Transición suave */
}

.logout-button:hover {
    background-color:#ff9900; /* Color al pasar el mouse */
}
