.profile-page-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Distribución 25% Panel de Control, 50% Perfil del Usuario, 25% Mapa */
    gap: 20px;
    padding: 20px;
}

.profile-control-panel {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    grid-column: 1; /* Panel de Control en la primera columna */
}

.profile-control-panel h1 {
    font-size: 1.5rem; /* Tamaño de fuente para títulos */
    color: #007BFF; /* Color azul */
    margin-bottom: 20px;
    font-family: Arial, sans-serif; /* Tipo de letra para los títulos */
}

.profile-control-panel ul {
    list-style-type: none;
    padding: 0;
}

.profile-control-panel li {
    margin-bottom: 15px;
}

.profile-control-panel a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif; /* Tipo de letra para los enlaces */
}

.profile-control-panel a:hover {
    color: #007BFF;
}

.profile-control-panel a svg {
    margin-right: 10px;
}

.profile-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    grid-column: 2; /* Perfil del Usuario en la segunda columna */
    text-align: center; /* Centrar el texto */
}

.profile-section h1 {
    font-size: 1.5rem; /* Tamaño de fuente para títulos */
    color: #007BFF; /* Color azul */
    margin-bottom: 20px;
    font-family: Arial, sans-serif; /* Tipo de letra para los títulos */
}

.profile-card {
    font-family: Arial, sans-serif; /* Tipo de letra para el contenido del perfil */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido */
    gap: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
}

.profile-card .profile-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.profile-card .profile-header svg {
    font-size: 3rem; /* Tamaño del ícono */
    color: #007BFF; /* Color del ícono */
}

.profile-card h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
}

.profile-card p {
    font-size: 1.2rem; /* Tamaño de fuente para el contenido del perfil */
    margin: 5px 0; /* Espaciado vertical */
}

.profile-map-section {
    height: 80vh;
    grid-column: 3; /* Mapa en la tercera columna */
}

.map-container {
    width: 100%;
    height: 100%;
}
