.profile-page-container {
    display: grid;
    grid-template-columns: 15% 50% 35%; /* Distribución 15% Panel de Control, 50% Perfil del Usuario, 35% Mapa */
    gap: 20px;
    padding: 20px;
}

.profile-control-panel {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-control-panel h1 {
    font-size: 1.8rem;
    color: #007BFF;
    margin-bottom: 20px;
}

.profile-control-panel ul {
    list-style-type: none;
    padding: 0;
}

.profile-control-panel li {
    margin-bottom: 20px;
}

.profile-control-panel a {
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.profile-control-panel a:hover {
    color: #007BFF;
}

.profile-control-panel a svg {
    margin-right: 12px;
}

.profile-section {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido horizontalmente */
    background: linear-gradient(135deg, #f0f4f8, #e0e7ff); /* Gradiente de fondo sutil */
    /* background: url('path-to-your-background-image.jpg') no-repeat center center; */
    /* background-size: cover; */
}

.profile-section h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #007BFF;
    margin-bottom: 25px;
}

.profile-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 30px; /* Espacio entre la imagen y la información */
    text-align: center; /* Centrar texto dentro del card */
    flex-direction: column; /* Colocar imagen y texto en columna */
}

.profile-avatar {
    width: 150px; /* Tamaño de la imagen */
    height: 150px; /* Tamaño de la imagen */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px; /* Espacio debajo de la imagen */
}

.profile-info {
    width: 100%; /* Asegurarse de que el texto ocupe todo el ancho del contenedor */
}

.profile-info h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 1.2rem;
    color: #666;
    margin: 5px 0;
}

.profile-info p strong {
    color: #333;
}

.profile-loading .loading-circle {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007BFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.profile-error {
    color: #e74c3c;
    font-size: 1.3rem;
}

.profile-no-data {
    color: #888;
    font-size: 1.3rem;
}

.profile-map-section {
    height: 80vh;
    grid-column: 3;
}

.map-container {
    width: 100%;
    height: 100%;
}
